@using MyFinance.MyFinanceWebApp.Helpers
@model MyFinance.MyFinanceModel.ViewModel.FullAccountInfoViewModel
@{
    Layout = null;
}

<div class="row" @Html.Raw(Model.HeaderStyleValue)>
    <div class="col-md-4">
        <span class="main-box-title">@Model.AccountName</span>
    </div>
    <div class="col-md-7">
        <span class="main-box-title" id="@($" period-title-{Model.AccountId}")">No Period</span>
    </div>
    <br />
    <br />
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <label class="box-title" onclick="@($" showCustomPeriodModal({Model.AccountId})")">Period Summary</label>
    </div>
    <div class="col-md-9">
        <div style="float: right;">
            <select class="select-control-period form-control" id="@($" select-control-period-{Model.AccountId}")">
                <option value="0">No Period</option>
                @foreach (var accountPeriod in Model.AccountPeriods.OrderByDescending(item => item.InitialDate))
                {
                    <option value="@accountPeriod.AccountPeriodId" selected="@(accountPeriod.AccountPeriodId == Model.CurrentPeriodId)">
                        @accountPeriod.GetDateInfo(false)
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-low-margin @(Model.GetTableTypeStyle())"
               id="@(Model.GetId("account-balance-table-"))">
            <thead>
                <tr>
                    <th data-field="Budget">Budget</th>
                    <th data-field="Spent">Spending</th>
                    <th data-field="Balance">Balance</th>
                    <th data-field="OverallBalance">Overall Balance</th>
                    <th data-field="OverallBalanceToday">Balance As Of Today</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="@(Model.GetId("period-budget-value-"))"></td>
                    <td id="@(Model.GetId("period-spent-value-"))"></td>
                    <td id="@(Model.GetId("period-balance-value-"))"></td>
                    <td id="@(Model.GetId("account-general-balance-value-"))">N/A</td>
                    <td id="@(Model.GetId("account-today-balance-value-"))">N/A</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <input type="button" value="New Expense" style="color: red;" onclick="@($"openAddBasicTrxModal({Model.AccountId}, 1)")" />
        <input type="button" value="Add Income" style="color: green;" onclick="@($"openAddBasicTrxModal({Model.AccountId}, 2)")" />
        <input type="button" value="Transfer" style="color: blue;" onclick="@($"executeTransferAction(1, {Model.AccountId})")" />
    </div>
</div>
<br />
<div>
    <input type="button" onclick="@($"openCustomPeriodEvent({Model.AccountId})")" id="@Model.GetId("account-summary-button-")" 
           value="Account Summary"/>
    <input type="button" onclick="@($"showHideSpendList({Model.AccountId})")" 
           id="@Model.GetId("details-button-")"
           value="Show Period Activity"/>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="@Model.GetId("details-container-")" style="display: block;">
            <table class="table table-bordered table-low-margin" id="@Model.GetId("table-details-")">
            </table>
        </div>
    </div>
</div>