@model MyFinanceWebApp.Models.ForgottenPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PageTitle</title>
    <style type="text/css">
        .field-validation-error {
            color: red;
        }

        input {
            font-size: 22px;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>@Model.PageMessage</h1>
    @if (!Model.Success && Model.ReadyToUpdate)
    {
        using (Html.BeginForm("ForgottenPassword", "User", FormMethod.Post))
        {
            @Html.HiddenFor(m=>m.HostUrl,new {value = Request.ApplicationPath })
            <div>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username)
                <br />
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <br />
            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                <br />
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <br />
            <div>
                <input type="submit" value="Request password change" />
            </div>
        }
    }
    @if (Model.Success)
    {
        using (Html.BeginForm("LogOff", "User", FormMethod.Get))
        {
            <input type="submit" value="Go to Login" />
        }
    }

</div>
</body>
</html>
