@model MyFinanceWebApp.Models.CustomClientNewPassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Reset Password</title>
    <style type="text/css">
        .field-validation-error {
            color: red;
        }

        input {
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1>@Model.PageMessage</h1>
        @if (!Model.Success && Model.ReadyToUpdate)
        {
            using (Html.BeginForm("SetNewPassword", "User", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Token, new { value =@Model.Token })
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    <br />
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    <br />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <br />
                <div>
                    <input type="submit" value="Save" />
                </div>
            }
        }
        @if (Model.Success)
        {
            using (Html.BeginForm("LogOff", "User", FormMethod.Get))
            {
                <input type="submit" value="Go to Login" />
            }
        }

    </div>
</body>
</html>
